html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background: rgb(36, 36, 36);
}

#Matrix {
    position: fixed;
    inset: 0;            
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.screen {
    position: fixed;
    inset: 0;
    display: none;
    place-content: center;
    gap: 12px;
    z-index: 1;
    border: 1px;
    border-radius: 10px;
}
.screen.active {
    display: grid;
}

.panel {
    padding: 40px 55px;
    display: flex;
    flex-direction: column;
    gap: 14px;

    background: rgba(0, 255, 120, 0.06);
    border: 2px solid rgba(0, 255, 120, 0.45);
    border-radius: 15px;

    box-shadow: 
        0 0 12px rgba(0, 255, 120, 0.08),
        inset 0 0 12px rgba(0, 255, 120, 0.08);
    
    backdrop-filter: blur(1px);

    transition: 
        background 0.25s ease,
        box-shadow 0.25s ease,
        transform 0.25s ease;
}

button {
    background: transparent;
    color: #17c96a;
    font-family: monospace;
    font-size: 14px;

    padding: 10px 18px;
    border: 1px solid rgba(23, 201, 106, 0.7);
    border-radius: 6px;

    cursor: pointer;
    transition: 
        background 0.25s ease,
        box-shadow 0.25s ease,
        transform 0.1s ease;
}

button:hover {
    background: rgba(23, 201, 106, 0.15);
    box-shadow: 0 0 8px rgba(23, 201, 106, 0.6);
}

button:active {
    transform: translateY(1px);
}

input {
    all: unset;
    box-sizing: border-box;
    width: 240px;
    padding: 10px 12px;
    
    text-align: center;
    font-family: monospace;
    font-size: 14px;
    color: #17c96a;

    background: rgba(0, 255, 120, 0.08);
    border: 1px solid rgba(23, 201, 106, 0.5);
    border-radius: 6px;

    transition: 
        border-color 0.25s ease,
        box-shadow 0.25s ease,
        background 0.25s ease;
}

input::placeholder {
    color: rgba(23, 201, 106, 0.45);
}

input:focus {
    border-color: rgba(23, 201, 106, 0.9);
    box-shadow: 
        0 0 8px rgba(23, 201, 106, 0.6),
        inset 0 0 6px rgba(23, 201, 106, 0.15);
    background: rgba(0, 255, 120, 0.12);
}

.panel.error {
    border-color: rgba(255, 80, 80, 0.9);
    box-shadow: 0 0 8px rgba(255, 80, 80, 0.5);
}
input.error {
    border-color: rgba(255, 80, 80, 0.9);
    box-shadow: 0 0 8px rgba(255, 80, 80, 0.5);
}
button.error {
    border-color: rgba(255, 80, 80, 0.9);
    box-shadow: 0 0 8px rgba(255, 80, 80, 0.5);
}